:root{
    --black: #000000DE;
    --darkgray: #3a3a3a;
    --orange: #EB6C27;
    --gray: #8888;
    --white: #ffff;
}


html {
    font-family: 'Open Sans', sans-serif;
}

p{
    color:var(--darkgray);
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
}

p > mark{
    color:var(--black);
    background-color: var(--white);
    font-weight: bold;
}
.title > h1{
    font-weight: 800;
    font-size: 30px;
    line-height: 41px;
    color: var(--white);
}

.title > h2 {
    font-weight: 300;
    font-size: 20px;
    line-height: 27px;
    color: var(--white);
}

.popis > h1{
    font-weight: 700;
    font-size: 22px;
    line-height: 30px;
}

.popis > h1 > mark{
    color: var(--orange);
    background-color: var(--white);
}

.galery > h1{
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
}

.baner > h1{
    font-weight: 700;
    font-size: 17px;
    line-height: 21px;
}

.galery2 > h1{
    font-weight: 700;
    font-size: 22px;
    line-height: 30px;
}
.galery2 > p{
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
}



footer > h1{
    font-weight: 700;
    font-size: 22px;
    line-height: 30px;
    color: var(--white);
}

footer > p{
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: var(--white);
}

/*hbnjkbhvghbjnkbhvgchvbjnbhgcfhgvb*/





.header__nav{
    display: flex;
    justify-content: space-between;
    margin:24px 20px 36.5px 20px

}

.menu{
    display: flex;
    list-style-type: none;
    font-size: 0px;
    background-color: #EB6C27;

}
.menu:hover{
    font-size: 30px;
}

.navbar{
    border: black 2px solid;
    width: 100%;

}

.header__nav > img{
    height: 44px;
}

.img_res{
    display: none;
}

.title{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top:179px;
    padding-bottom:20px;
    background-image:url(../media/header-background\ \(1\).jpg);
    background-position: center;
    background-size:auto 150%;
    background-repeat: no-repeat;
    padding-left: -20px;
    padding-right:-20px ;
    margin-bottom: 55px;
}
.button{
    color: var(--orange);
    padding: 12px 40px 12px 40px;
    font-size: 14px;
    border-radius: 2px;
    border-style: dashed;
    text-decoration-line: none;
    margin-bottom: 40px;
}