:root{
    --black: #000000DE;
    --darkgray: #3a3a3a;
    --orange: #EB6C27;
    --gray: #8888;
    --white: #ffff;
}
html {
    font-family: 'Open Sans', sans-serif;
}
.header {
    background-color: white;
}
.header__nav{
    display: flex;
    justify-content: space-between;
    position: relative;
    margin:1.5em 1.2em 2em 1.2em;
    height: 2em;
}
.menu{
    margin-top: 3em;
    color: white;
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    background-color: #EB6C27;
    padding: 1em;
    gap: 0.5em;
}
.menu a {
    text-decoration: none;
    color: inherit;
    border-bottom: 1px solid currentColor;
}
.menu a:hover {
    font-weight: bolder;
}
menu::after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 0;
    height: 0;
    margin-right: calc((46px - 25px) / 2);
    transform: translateY(-100%);
    border: 12.5px solid transparent;
    border-bottom-color: #EB6C27;
    border-bottom-style: solid;
    border-bottom-width: 1em;
    border-top: none;
}
.navbar{
    border: black 2px solid;
}
.hamburger {
    flex-direction: column;
    align-items: center;
    display: none;
}
.hamburger::after {
    content: url(../media/hamburger.svg);
}
@media screen and (max-width: 832px) {
    .hamburger { 
        display: flex;
    } 
    .hamburger-menu--hidden {
        display: none;
    }
}
.img-responsive {
    height: 100%;
}
p{
    color:var(--darkgray);
    font-size: 1em;
    font-weight: 400;
}
.title > h1{
    font-weight: 800;
    font-size: 2em;
    color: var(--white);
}
.title > h2 {
    font-weight: 300;
    font-size: 1em;
    color: var(--white);
}
.popis > .hlavni{
    font-weight: 700;
    font-size: 1em;
}
.popis > .hlavni > b{
    color: var(--orange);
}
.galery > h2{
    font-weight: 700;
    font-size: 1em;
}
.baner > h2{
    font-weight: 700;
    font-size: 1em;
}
.galery2 > h2{
    font-weight: 700;
    font-size: 1em;
}
.galery2 > p{
    font-weight: 400;
    font-size: 0.5em;
}
footer > h2{
    font-weight: 700;
    font-size: 1em;
    color: var(--white);
}
footer > p{
    font-weight: 400;
    font-size: .5em;
    color: var(--white);
}
.img_res_1{
    width: 100%;
    height: 100%;
    border-radius: 0em 0em 2em 0em;
}
.img_res{
    width: 100%;
    height: 100%;
    border-radius: 0em 0em 0em 2em;
}
.title{
    align-items: center;
    padding-top:8em;
    padding-bottom:1em;
    background-image:url(../media/header-background\ \(1\).jpg);
    background-position: center;
    background-size:auto 150%;
    background-repeat: no-repeat;
    padding-left: -1em;
    padding-right:-1em ;
    margin-bottom: 2em;
}
.title > h1> span{
    font-size: 0.5em;
}
.button{
    color: var(--orange);
    padding: .5em 1.3em .5em 1.3em;
    font-size: .5em;
    border-style: dashed;
    text-decoration-line: none;
    margin-bottom: 2em;
}
.popis{
    margin-left: 1em;
    margin-right: 1em;
}
.galery,.galery2{
    margin-left: 1em;
    margin-right: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.blok{
    margin-top: 1em;
    margin-bottom: 2em;
    max-width: 1000px;
}
.blok_1{
    margin-top: 1em;
    margin-bottom: 2em;
    max-width: 1000px;
}
.baner{
    background-image: linear-gradient(to bottom, rgba(36, 36, 36, 0.85), rgba(36, 36, 36, 0.85)), url(../media/background-CTAblock-4460w.jpg);
    background-repeat: no-repeat;
    font-weight: 800;
    background-position: center;
    background-size: cover;
    padding: 1.5em;
    color: white;
    margin-top: 2em;
}
.img_res_2{
    height: 100%;
    width: 100%;
    display: block;
}
.baner > h2{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    color: var(--white);
    padding-left: 1em;
    padding-right: 1em;
}
.button2{
    color: var(--white);
    background: var(--orange);
    padding: .5em 1em .5em 1em;
}
.galery2 > h2{
    margin:0em;
    font-weight: 700;
    font-size: 1em;
    line-height: 1.3em;
}
.popis > h2{
    text-align: start;
    font-size: 1em;
    font-weight: 800;
}
footer{
    background-color: var(--orange);
    height: 283px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 96px;
}
.button3{
    background-color: var(--white);
    color: var(--orange);
    padding: .5em 1em .5em 1em;
}
.popis > ul > li{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: .6em;
    line-height: 1em;
}
.popis > ul{
    color: var(--orange);
}
.popis > ul >h1{
    color: var(--black);
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
}
.galery3{
    align-items: center;
    justify-content: center;
    display: grid;
    grid-template-columns: 1;
    gap: 8px;
}
.img_small{
    width: 100%;
    height: 100%;
}
.img_big{
    width: 100%;
    height: 100%;
}
.mapa{
    height: 100%;
    width: 100%;
}
.info > p{
    color:var(--orange);
}
form{
    display: flex;
    flex-direction: column;
}
input{
    padding: .6em;
    border: 1px solid #EB6C27;
    margin: .5em;
}
select{
    padding: .6em;
    border: 1px solid #EB6C27;
    background-color: white;
    margin: .5em;
}
.sub{
    background-color: #EB6C27;
    color: white;
    padding: .6em;
    margin-bottom: 6em;
}
.formular > p{
    margin-bottom: 3em;
}
.button9{
    color: white;
    background-color: #EB6C27;
    padding: 1em;
}
@media (min-width: 1200px) {
   .header{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    height: 95vh;
    background-image: linear-gradient(to bottom, rgba(36, 36, 36, 0.185), rgba(36, 36, 36, 0.85)), url(../media/pageheader-1920w.jpg);
    background-position: center;
   }
   .header__nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    margin: 0;
   }
   .menu{
    background-color: transparent;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
   }
   .title{
     background-image: none;
     margin: 0;
     padding: 0;
     display: none;
   }
   .popis{
    text-align: center;
    align-items: center;
    justify-content: center;
   }
   .popis > h1{
    text-align: center;
    font-size: 30px;
   }
   .blok{
    justify-content: space-between;
    display: flex;
    flex-direction: row;
   }
   .blok_1{
    justify-content: space-between;
    display: flex;
    flex-direction: row-reverse;
   }
   .img_res_1{
    width: 100%;
    height: 100%;
    margin-right: 4em;
   }
   .img_res{
    width: 100%;
    height: 100%;
    margin-left: 4em;
   }

   .menu::after{
    display: none;
   }
}