[Desktop Entry]
Encoding=UTF-8
Name=Link to  local_phone_24px.svg 
Type=Link
URL=https://github.com/pslib-cz/2022-p2a-web-hm-building-Kraus-Ivan/blob/main/images/local_phone_24px.svg
Icon=text-html
